#main, #Oth-map {
  padding: 30px 0px;
}

/* ==========================================================================
header section
========================================================================== */
#header {
  background: url(../images/13.jpg) no-repeat top center;
  background-size: cover !important;
  background-attachment: fixed;
  overflow: hidden;
  background-position: center;
  color: #ffffff;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -ms-flex-align: center;
      align-items: center;
  height: 100vh;
  text-align: center;
}

#header h1 {
  font-size: 60px;
  font-weight: bolder;
  opacity: 1;
  color: #fff;
  letter-spacing: 0.5;
}

#header .fa{
  font-size: 25px;
  color: #fff;
}

#header .line {
  width: 900px;
  height: 30px;
  margin: auto;
}
#header .line-left,
#header .line-right {
  width: 40%;
  margin-bottom: 5px;
  border: 2px solid #fff;
  display: inline-block;
}
#header .line-left {
  right:50%;
}
#header .line-right {
  left:50%;
}

/* ==========================================================================
main section - left side
========================================================================== */
#main .left-side ul {
  list-style: none;
  margin-left: -30px;
  letter-spacing: 2px;
}
#main .left-side h2 {
  text-transform: uppercase;
  color: #000;
  font-weight: bolder;
}
#main .left-side ul#TYT-address li{
  font-size: 18px;
}
#main .left-side ul#TYT-address li:first-child {
  margin-top: 20px;
}
#TYT-address li:first-child .fa,
#TYT-address li:last-child .fa {
  margin-right: 10px;
} 
.info {
  text-align: left;
}
.info p {
  font-size: 22px;
  font-weight: bold;
}
.info a {
  font-size: 2px;
}
.info .fa {
  font-size: 50px;
  color: #D5A77F;
}

/* ==========================================================================
main section - Contact
========================================================================== */
#main .right-side h2 {
  text-transform: uppercase;
  color: #000;
  font-weight: bolder;
}
#main .right-side strong {
  text-transform: uppercase;
  position: relative;
  font-size: 15px;
  letter-spacing: 1px;
}
#main .right-side .form-control,
#main .right-side .send-button {
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: none;
  margin-top: 5px;
  margin-bottom: 15px;
  resize: none;
}
#main .right-side .form-control{
  font-style: italic;
}
#main .right-side input {
  height: 30px;
}
#main .right-side input[type="submit"] {
  background: #680000;
  border: 3px solid #680000;
  letter-spacing: 3px;
  font-size: 18px;
  font-weight: 600;
  margin-top: 18px;
  width: 100%;
  height: 40px;
  color: #ffffff;
}
#main .right-side input[type="submit"]:hover {
  color: #f93;
}
