body {
    background: #ffffff;
    font-family: 'Crimson Text', sans-serif;
    font-weight: 400;
    position: relative;
  }
::-moz-selection {
    background: #61df37;
    color: #fff;
}

::selection {
    background: #61df37;
    color: #fff;
}
html, body {
     width: 100%;
     overflow-x: hidden;
  }
h1, h2, h3, h4 {
  font-weight: bold;
  letter-spacing: 2px;
}
h1 {
  text-transform: capitalize;
}
.heading {
  font-size: 20px;
}
.subheading {
  font-size: 14px;
  font-weight: bold;
  padding-bottom: 60px;
}
.bold {
  font-weight: bold;
}

p {
  line-height: 28px;
  font-size: 15px;
}

a {
  outline: none !important;
}

.section-title strong {
  color: #00C6D7;
    font-size: 56px;
}

.section-title h1 {
  font-size: 40px;
  text-align: center;
}

.section-title {
  padding-bottom: 32px;
}

.medium-icon {
  font-size: 32px !important;
}

.fa {
    display: inline-block;
    font: normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/* ==========================================================================
navigation section
========================================================================== */
.navbar .navbar-nav {
  display: inline-block;
  float: none;
  vertical-align: top;
}
.navbar .navbar-brand {
  margin-top: -15px;
}

.custom-navbar {
    margin-bottom: 0;
    margin: 0 auto;
    padding: 8px;
    background: #771e18;
}
.ease-img {
  width: 90%;
}
.ease-navbar {
  padding: 4px;
  background: #680000;
}

.custom-navbar .navbar-right li a {
    color: #fff;
    font-size: 20px;
    }

.custom-navbar .nav li.active > a {
      color: #f60;
      background-color: transparent;
    }
.custom-navbar .navbar-toggle {
        border: none;
        padding-top: 10px;
    }
.custom-navbar .navbar-toggle .icon-bar {
        background: #00c6d7;
        border-color: transparent;
    }
@media(min-width:768px){
    .custom-navbar {
            border-bottom: 0;
            -webkit-transition: background .2s ease-in-out,padding .2s ease-in-out;
            -moz-transition: background .2s ease-in-out,padding .2s ease-in-out;
            transition: background .2s ease-in-out,padding .2s ease-in-out;
         }
    .custom-navbar.top-nav-collapse {
            padding: 8px;
            background: #000;
        }
}

.navbar-right .fa {
  color: #fff;
  font: normal 25px/1 FontAwesome;
  margin-left: 3%;
}
/* ==========================================================================
Facebook Widget section
<!--Brought to you by www.TheBlogWidgets.com-->
========================================================================== */
.theblogwidgets{
    background: url("../images/icon.png") no-repeat scroll left center transparent !important;
    float: right;
    height: 470px;
    padding: 0 5px 0 36px;
    width: 285px;
    z-index: 999;
    position:fixed;
    right:-250px;
    top:20%;
  }
  .theblogwidgets div{
    padding: 0;
    margin-right:-8px;
    border:4px solid  #3b5998;
    background:#fafafa;
  }
 /* ==========================================================================
footer section
========================================================================== */
footer {
  text-align: center;
  padding: 20px 0;
  background-color: #680000;
  color: #fff; 
  font-size: 12px;
  letter-spacing: 1px;
}
footer .copyright {
  margin: 0;
  padding: 0;
}
footer .copyright li {
    display: inline-block;
    margin: 0;
    padding: 0;
    line-height: 24px;
}
.ie footer .copyright li {
   display: inline;
}
footer .copyright li:before {
    content: "\2022";
    padding-left: 10px;
    padding-right: 10px;
    color: #f60;
}
footer .copyright li:first-child:before {
  display: none;
}
